<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Изменить пароль</title>
    <link rel="stylesheet" href="./assets/css/change_password.css">
    <link href="./assets/libs/fontawesome/css/all.css" rel="stylesheet">
    <link rel="shortcut icon" href="./assets/img/logo_min.png" type="image/png">
</head>
<body>
    <section class="change_password"">
        <form id="form" class="form_change_password" method="POST" autocomplete="off">
          <h2>Измените пароль</h2>
          <? if (count($errors) == 1): ?>
          <div class="alert alert-danger text-center alert-reg">
            <? foreach ($errors as $error): ?>
            <?= $error; ?>
            <? endforeach; ?>
          </div>
          <? elseif(count($errors) > 1): ?>
          <div class="alert alert-danger text-center alert-reg">
            <? foreach ($errors as $error): ?>
            <li><?= $error; ?></li>
            <? endforeach; ?>
          </div>
  
          <? endif; ?>
        <div class="field input">
          <input type="password" name="new_password" id="new_password" autocomplete="off" class="text" placeholder="Новый пароль:">
          <div class="error" id="error-new-password"></div>
        </div>
        <div class="field input">
          <input type="password" name="rep_password" id="rep_password" autocomplete="off" class="text" placeholder="Повторите пароль">
          <div class="error" id="error-rep-password"></div>
        </div>
        <div class="field button">
          <input type="submit" class="submit" id="btn-new-password" name="save" value="Сохранить">
          <a href="./logout">Выйти из аккаунта</a>
        </div>
        </form>
    </section>
      <script src="./assets/js/notification.js"></script>
    <script src="./assets/js/change_password.js"></script>
</body>
</html>