<main>
    <div>
        <h1>Статус заявки</h1>
        <a href="./charter_request" class="link_under_title">Создать заявку на чартерный рейс</a>
        <form method="post">
            <input type="text" name="charter_code" value="<?= isset($_POST['charter_code']) ? htmlspecialchars($_POST['charter_code']) : '' ?>" placeholder="Номер обращения...">
            <input type="submit" value="Проверить статус">
        </form>
        <? if (isset($data) && $data): ?>
            <? if ($data['status'] == 'pending'): ?>
                <div class="alert info">
                    <b>Ваша заявка на рассмотрении</b>
                    <p>Мы получили ваш запрос и сейчас проверяем доступность рейса. Как только статус изменится, вы получите уведомление на указанную почту</p>
                </div>

            <? elseif($data['status'] == 'approved'): ?> 
                <div class="alert success">
                    <b>Ваша заявка одобрена!</b>
                    <p>Дальнейшая информация придет вам на почту в ближайшее время. Ожидайте письмо с деталями рейса и инструкциями.</p>
                    <hr>
                    <b>Комментарий от авиакомпании:</b>
                    <p><?= $data['comment'];?></p>
                </div>
            <? elseif($data['status'] == 'rejected'): ?> 
                <div class="alert error">
                    <b>Заявка отклонена!</b>
                    <p>К сожалению, мы не можем подтвердить вашу заявку. Для уточнения деталей обратитесь в поддержку или попробуйте оформить новый запрос.</p>
                    <hr>
                    <b>Комментарий от авиакомпании:</b>
                    <p><?= $data['comment'];?></p>
                </div>
            <? else: ?>
                <div class="alert error">
                    <b>Произошла ошибка :(((</b>
                    <p>Обратитесь в поддержку</p>
                </div>
            <? endif; ?>
        <? elseif(isset($data) && !$data): ?> 
            <div class="alert warning">
                <b>Заявка не найдена</b>
                <p>Письмо с номером обращения было направлено на электронный адрес, указанный при заполнении заявки.</p>
            </div>
        <? else: ?>
            <div class="alert usual">
                <b>Номер обращения состоит из 3 символов латинского алфавита, знака «-» и 5 цифр. Пример, GSN-12345.</b>
                <p>Письмо с номером обращения приходит на электронный адрес, указанный при заполнении заявки.</p>
            </div>
        <? endif; ?>
        
    </div>
</main>