<main>
    <div>
        <div class="title">
        <h1>Авиабилеты</h1> 
        </div>

        <div class="home-nav">
            <a href="<?= FULL_SITE_ROOT; ?>">Открытые чартеры</a>
            <a href="<?= FULL_SITE_ROOT; ?>/charter_number" class="active">Частные чартеры (по коду)</a>
        </div>

        <form class="flight_info_board" id="flights_form" method="post">
            <input type="text" placeholder="Код рейса" name="flight_code"
                value="<?= isset($_POST['flight_code']) ? htmlspecialchars($_POST['flight_code']) : '' ?>">
            <select name="date">
                <option value="2000-01-01">Дата вылета</option>
                <?php foreach ($dates as $date): ?>
                    <option value="<?= $date[0]; ?>"
                        <?= (isset($_POST['date']) && $_POST['date'] == $date[0]) ? 'selected' : ''; ?>>
                        <?= htmlspecialchars($date[1]); ?>
                    </option>
                <?php endforeach; ?>
            </select>
            <select name="passenger_counts" id="passengers_counts">
                <option value="0" disabled selected>Число пассажиров</option>
                <? for($i=1; $i<10; $i++): ?>
                    <option value="<?=$i;?>"
                        <?= (isset($_POST['passenger_counts']) && $_POST['passenger_counts'] == $i) ? 'selected' : ''; ?>>
                        <?= $i; ?></option>
                <? endfor; ?>
            </select>
            <input type="submit" value="Найти рейсы">
        </form>




        <? if (isset($data) && $data): ?>
        <table class="table table_flight_board">
            <thead>
                <tr>
                    <?php foreach ($columns as $column) : ?>
                        <th><?= htmlspecialchars($column); ?></th>
                    <?php endforeach; ?>
                </tr>
            </thead>
            <tbody>
                <?php $counter=0; ?>
                <?php foreach ($data as $item) : ?>
                <? if ($item['charter_available'] > 0): ?>
                 <? $counter++; ?>
                    <tr>
                        <td><img src="<?= AIRLINE_IMG . '/' . $item['airline_logo']; ?>" alt="logo" width="30"> <?= $item['airline_name']; ?></td>
                        <td><?=$item['dep_airport']?></td>
                        <td><?=$item['arr_airport']?></td>
                        <td><?=$item['airplane_name']?></td>
                        <td><?=$item['dep_time']?></td>
                        <td><?=$item['arr_time']?></td>
                        <td>
                        <form action="book_flight/<?= $item['flight_number']; ?>" method="post">
                        <? if ($item['charter_available'] >= $requestedSeats): ?>
                            <input type="submit" class="btn_as_link" name="book_flight_btn" value="Купить билет">
                            <input type="hidden" name="book_passenger_counts" value="<?= $requestedSeats; ?>">
                            <input type="hidden" name="book_charter_request_id" value="<?= $item['charter_request_id']; ?>">
                        <? elseif ($item['charter_available'] > 0): ?>
                            <span>Осталось только <?= $item['available_for_individuals']; ?> билет(а)</span><br>
                            <input type="submit" class="btn_as_link" name="book_flight_btn" value="Купить <?= $item['available_for_individuals']; ?> билет(а)">
                            <input type="hidden" name="book_passenger_counts" value="<?= $item['available_for_individuals']; ?>">
                            <input type="hidden" name="book_charter_request_id" value="<?= $item['charter_request_id']; ?>">
                        <? endif; ?>
                        </form>
                        </td>
                    </tr>
                    <? endif; ?>
                <?php endforeach; ?>
                <? if ($counter==0): ?>
                    <tr>
                        <td colspan="<?= count($columns); ?>">Все билеты закончились</td>
                    </tr>
                <? endif; ?>
            </tbody>
        </table>
        <? elseif (isset($data) && !$data): ?>
            <p class="nothing">Ничего не найдено</p>
        <? endif; ?>

       
    </div>
</main>

