<main>
    <div>
        <h1>Онлайн регистрация</h1>
        <table class="table">
            <thead>
                <tr>
                    <?php foreach ($columns as $column) : ?>
                        <th><?= htmlspecialchars($column); ?></th>
                    <?php endforeach; ?>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($data as $item) : ?>
                    <tr>
                        <?php foreach ($item as $value) : ?>
                            <td><?= htmlspecialchars($value); ?></td>
                        <?php endforeach; ?>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</main>