<main>
    <div>
        <div class="title">
        <h1>Онлайн-табло</h1> 
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
        </div>

        <div class="flight_board-nav">
            <a href="<?= FULL_SITE_ROOT; ?>/flight_board">Поиск по направлению</a>
            <a href="<?= FULL_SITE_ROOT; ?>/flight_number" class="active">Поиск по номеру рейса</a>
        </div>

        <form class="flight_info_board" method="post">
            <input type="text" placeholder="Номер рейса" name="flight_number"
                value="<?= isset($_POST['flight_number']) ? htmlspecialchars($_POST['flight_number']) : '' ?>">
            <select name="date">
                <option value="2000-01-01">Дата вылета</option>
                <?php foreach ($dates as $date): ?>
                    <option value="<?= $date[0]; ?>"
                        <?= (isset($_POST['date']) && $_POST['date'] == $date[0]) ? 'selected' : ''; ?>>
                        <?= htmlspecialchars($date[1]); ?>
                    </option>
                <?php endforeach; ?>
            </select>
            <input type="submit" value="Найти рейсы">
        </form>

        <? if (isset($data) && $data): ?>
        <table class="table table_flight_board">
            <thead>
                <tr>
                    <?php foreach ($columns as $column) : ?>
                        <th><?= htmlspecialchars($column); ?></th>
                    <?php endforeach; ?>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($data as $item) : ?>
                    <tr>
                        <?php foreach ($item as $value) : ?>
                            <td><?= htmlspecialchars($value); ?></td>
                        <?php endforeach; ?>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
        <? elseif (isset($data) && !$data): ?>
            <p class="nothing">Ничего не найдено</p>
        <? endif; ?>
    </div>
</main>