<div class="report-page">
    <div class="report__block">
      <div class="report__note-<?= $incident; ?>">
        <? switch($incident):
          case '200': ?>
            <h3>Succes</h3>
          <? break; case '404': ?>
            <h3>Not Found</h3>
          <? break; case '401': ?>
            <h3>Не авторизован</h3>
            <p><a href="<?= FULL_SITE_ROOT; ?>/auth">Войдите в аккаунт</a></p>
          <? break; case '501': ?>
            <h3>Страница находится в разработке</h3>
          <? break; case '123': ?>
            <h3>Ваш аккаунт деактивирован, обратитесь к вашему начальству</h3>
          <? break; case '124': ?>
            <h3>Пользователь с такой почтой уже существует</h3>
          <? break; case '125': ?>
            <h3>Ошибка прав доступа</h3>
          <? break; case '217': ?>
            <h3>Приложение скокро появится! Релиз 15 апреля</h3>
          <? break; case '523': ?>
            <h3>Произошла ошибка, свяжитесь с нами</h3>
            <? break; case '523': ?>
            <h3>Проблема с изображением</h3>
            <? break; case '525': ?>
            <h3>Такая авиакомпания уже существует. Проверьте название, ИКАО и ИАТА код.  Или свяжитесь с нами</h3>
          <? break; case '503': ?>
            <h3>На сайте ведутся технические работы</h3>
            <p>На текущий момент наш интернет-ресурс недоступен. Сайт не сломался. Мы просто решили сделать его немного лучше. Обновите страницу немного позже. Все будет работать.</p>
        <? endswitch; ?>
        <hr>
        <span>Если у вас возникли вопросы, пожалуйста, <a href="<?=CONTACT_ADMIN?>" class="report__link" target="_blank">напишите нам</a>. Мы будем рады помочь вам.<span>
      </div>
    </div>
  </div>
  