@font-face {
	font-family: 'BaronNeue';
	src: url(../font/BaronNeue.otf);
}
:root{
    --btn: #1D6FB6;
    --main: #1D6FB6;
  }
  body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-image: url(../img/banner2.jpg);
    background-size: cover;
    background-position: center;
    font-family: -apple-system,BlinkMacSystemFont,'Roboto','Helvetica Neue',Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
    font-size: 13px;
    line-height: 1.154;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  form input.text{
    width: 240px;
    padding: 6px 12px 8px;
    border-radius: 3px;
    border: 1px solid #dce1e6;
    outline: none;
  }
  form .input{
    margin-bottom: 15px;
  }
  .logo img{
    padding: 5px;
  }
  .error{
    font-size: 14px;
    color: red;
    line-height: 16px;
    margin: 2px 0;
    text-align: left;
    padding-left: 5px;
    text-shadow: 1px 1px 0 rgb(255 255 255);
  }
  form input.submit{
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 3px;
    width: 100px;
    font-size: 14px;
    line-height: 20px;
    padding: 7px 16px 8px;
    cursor: pointer;
    text-align: center;
    background-color: var(--btn);
    color: #fff;
    border: 0;
    transition: all 0.3s ease;
    margin-bottom: 40px;
  }
  form input.submit:hover{
    opacity: .88;
  }
  form a{
    color: #2a5885;
    text-decoration: none;
  }
  form a:hover{
    text-decoration: underline;
  }
  .alert{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
    font-size: 14px;
    width: 240px;
  }
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    width: 90%;
  }
  #notification{
    opacity: .8;
    border-radius: 100px;
    padding: .5rem 1rem;
    transition: all .6s;
    display: none;
    position: fixed;
    margin: 20px;
    cursor: default;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    user-select: none;
    z-index: 1003;
    color: #fff;
  }
  #notification.usual{
    background: #eee;
    color: #434343;
  }
  #notification.success{
    background: green;
  }
  #notification.warning{
    background: #fff3cd;
    color: #434343;
  }
  #notification.error{
    background: red;
  }
  #notification.notice{
    background: #000;
  }
  #notification > span{
    margin: 0;
  }
   #notification.active{
     display: block;
     opacity: .8;
   }
    #notification.darker{
      opacity: 0;
    }
  
.form_change_password{
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
  }
  .form_change_password > i{
    position: absolute;
    right: 2px;
    top: 2px;
    font-size: 20px;
    padding: 7px 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  .form_change_password > h2{
    font-size: 1.715rem;
    font-family: "Open Sans";
    font-weight: 400;
    margin: 0;
    margin-bottom: 25px;
    color: #37474f;
  }

  .change_password{
    position: absolute;
    z-index: 1002;
    border-radius: 4px;
    display: block;
    border: 1px solid #00000020;
    width: 432px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)  translateY(-50%);
    background: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  }


   .report{
    position: fixed;
    border: 1px solid #434343;
    background: #1a1a1acf;
    border-radius: 5px;
    color: white;
    z-index: 3;
    padding: 7px;
    display: none;
    bottom: 20px;
    right: 20px;
    z-index: 1003;
    max-width: 300px;
  }
  .report.active{
    display: block;
    opacity: .8;
  }
   .report.darker{
     opacity: 0;
   }