<nav class="nav">
    <div class="nav__block">
        <ul>
            <li><a href="<?= FULL_SITE_ROOT; ?>" <?= $menu_active=='home'? "class='active'" : "" ?>>Авиабилеты</a></li>
            <li><a href="<?= FULL_SITE_ROOT; ?>/flight_board" <?= $menu_active=='flight_board'? "class='active'" : "" ?>>Онлайн-табло</a></li>
            <li><a href="<?= FULL_SITE_ROOT; ?>/check_in" <?= $menu_active=='check_in'? "class='active'" : "" ?>>Онлайн регистрация</a></li>
            <li><a href="<?= FULL_SITE_ROOT; ?>/charter_request" <?= $menu_active=='charter_request'? "class='active'" : "" ?>>Создать заявку на чартерный рейс</a></li>
        </ul>
    </div>
</nav>  